 * {

    font-family: 'Brandon';
    src: url("../BrandonGrotesque-Bold.fa11c3ca7b23.otf") format('truetype');
    font-weight: 600;
    font-style: normal;

}
  
  .everyone-row h2{
    font-family: 'Brandon';
  src: url("../BrandonGrotesque-Bold.fa11c3ca7b23.otf") format('truetype');
  font-weight: 600;
  font-style: normal;
    
  }
  .breaking-row p {

    font-family: 'Brandon';
    src: url("../BrandonGrotesque-Bold.fa11c3ca7b23.otf") format('truetype');
    font-weight: 600;
    font-style: normal;
  }

  .everyone-row p{
    font-family: 'Brandon';
    src: url("../BrandonGrotesque-Bold.fa11c3ca7b23.otf") format('truetype');
    font-weight: 600;
    font-style: normal;

  }
  .recommend-inner h4{

    font-family: 'Brandon';
    src: url("../BrandonGrotesque-Bold.fa11c3ca7b23.otf") format('truetype');
    font-weight: 600;
    font-style: normal;
  }

  .breaking-row h2 {
    font-family: 'Brandon';
    src: url("../BrandonGrotesque-Bold.fa11c3ca7b23.otf") format('truetype');
    font-weight: 600;
    font-style: normal;

  }

  .completely-text h2{
    font-family: 'Brandon';
    src: url("../BrandonGrotesque-Bold.fa11c3ca7b23.otf") format('truetype');
    font-weight: 600;
    font-style: normal;

  }
  .completely-inner p{
  font-family: 'Brandon';
  src: url("../BrandonGrotesque-Bold.fa11c3ca7b23.otf") format('truetype');
  font-weight: 600;
  font-style: normal;
  }
  .formula-users-row p{
  
    font-family: 'Brandon';
    src: url("../BrandonGrotesque-Bold.fa11c3ca7b23.otf") format('truetype');
    font-weight: 600;
    font-style: normal;
  }

  .honest-heading h2{
    font-family: 'Brandon';
    src: url("../BrandonGrotesque-Bold.fa11c3ca7b23.otf") format('truetype');
    font-weight: 600;
    font-style: normal;

  }
  .honest-heading p{
    font-family: 'Brandon';
    src: url("../BrandonGrotesque-Bold.fa11c3ca7b23.otf") format('truetype');
    font-weight: 600;
    font-style: normal;

  }

  .vegan-row .vegan-inner p{
    font-family: 'Brandon';
    src: url("../BrandonGrotesque-Bold.fa11c3ca7b23.otf") format('truetype');
    font-weight: 600;
    font-style: normal;   
  }

  .recommend-inner h2{

    font-family: 'Brandon';
    src: url("../BrandonGrotesque-Bold.fa11c3ca7b23.otf") format('truetype');
    font-weight: 600;
    font-style: normal;  
  }
  .faq-inner h2{

    font-family: 'Brandon';
    src: url("../BrandonGrotesque-Bold.fa11c3ca7b23.otf") format('truetype');
    font-weight: 600;
    font-style: normal; 
  }
  .faq-page .faq-section .panel-title a > span{

    font-family: 'Brandon';
    src: url("../BrandonGrotesque-Bold.fa11c3ca7b23.otf") format('truetype');
    font-weight: 600;
    font-style: normal;  
  }
  .faq-section .panel-body p{

    font-family: 'Brandon';
    src: url("../BrandonGrotesque-Bold.fa11c3ca7b23.otf") format('truetype');
    font-weight: 600;
    font-style: normal;  
  }